<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{{.PageTitle}}</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">


</head>

<body>
    <p>{{.Name}}</p>

    <p>Backup file</p>
    <input id="backupFile"></input>
    <button id=backupButton>Add this</button>
    <p>Remove file</p>
    <input id=removeFile>
    <button id="removeButton">Remove this</button>


    <script src="/static/index.js"></script>

</body>
</html>